@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Messaging Options</h2>
        <ul>
            <li>Insert Shop Order</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Shop Order</h2>
        <form name="orderForm" id="orderForm" method="post">
            <label for="CustomerName">Name</label>
            <input type="text" name="CustomerName" id="CustomerName" />
            <label for="CustomerFirstName">Vorname</label>
            <input type="text" name="CustomerFirstName" id="CustomerFirstName"/>
            <input type="button" name="order" id="orderButton" value="Bestellung abschicken" />
        </form>
    </div>
    <div class="col-md-3">
        <h2>?</h2>

    </div>
    <div class="col-md-3">
        <h2>?</h2>

    </div>
</div>