@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Messaging Options</h2>
        <ul>
            <li>Insert Shop Order</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Shop Order</h2>
    </div>
    <div class="col-md-3">
        <h2>?</h2>

    </div>
    <div class="col-md-3">
        <h2>?</h2>

    </div>
</div>
